<div class="jumbotron col-xl-12 d-flex">
    
    
    <div class="col-xl-4 m-1">
      <h2 >Filter alergens</h2>
      <!-- <button class="btn" [ngClass]="{'btn-danger' : gluten, 'btn-success' : !gluten}" (click)="toggleGlutenFree()">Gluten</button>
      <button class="btn" [ngClass]="{'btn-danger' : soy, 'btn-success' : !soy}" (click)="toggleSoyFree()">Soy</button>
      <button class="btn" [ngClass]="{'btn-danger' : peanut, 'btn-success' : !peanut}" (click)="togglePeanutFree()">Peanuts</button> -->
      <button class="btn" [ngClass]="{'btn-danger' : gluten, 'btn-success' : !gluten}" (click)="toggleAlergenFilter('gluten')">Gluten</button>
      <button class="btn" [ngClass]="{'btn-danger' : soy, 'btn-success' : !soy}" (click)="toggleAlergenFilter('soy')">Soy</button>
      <button class="btn" [ngClass]="{'btn-danger' : peanut, 'btn-success' : !peanut}" (click)="toggleAlergenFilter('peanut')">Peanuts</button>
    </div>
    
    <div class="col-xl-4">
      <h2>Filter mealtypes</h2>
      <button class="btn"
        [ngClass]="{'btn-primary' : mealType !== 'breakfast', 'btn-dark' : mealType == 'breakfast'}" 
        (click)="toggleMealType('breakfast')"
        >Breakfast
      </button>
      <button class="btn"
        [ngClass]="{'btn-primary' : mealType !== 'main+course', 'btn-dark' : mealType == 'main+course'}" 
        (click)="toggleMealType('main+course')"
        >Main course
      </button>
      <button class="btn"
        [ngClass]="{'btn-primary' : mealType !== 'dessert', 'btn-dark' : mealType == 'dessert'}" 
        (click)="toggleMealType('dessert')"
        >Dessert
      </button>
      <button class="btn"
        [ngClass]="{'btn-primary' : mealType !== 'all', 'btn-dark' : mealType == 'all'}" 
        (click)="toggleMealType('all')"
        >All meals
      </button>
    </div>
    <div class="col-xl-4">
      <h2>Saving recipes to list:</h2>
      <button *ngFor="let recipeList of savedRecipes" class="btn"
        [ngClass]="{'btn-primary' : saveTo == recipeList.id, 'btn-light' : saveTo != recipeList.id}" 
        (click)="setSaveTo(recipeList.id)"
        >
        {{recipeList.name}}
      </button>
    </div>
  </div>
  <table class="col-xl-12 bg-dark m0">
    <thead class="m-3">
      <tr class="m-3">
        <th class="m-3"><b class="text-light ">Dish name</b></th>
        <th></th>
        <th class="m-3"><b class="text-light m-3">Learn more</b></th>
        
      </tr>
    </thead>
  <tbody >
    
    <tr *ngFor="let recipe of recipes.results" class="border-top">
      <td class="text-light">{{ recipe.title }} </td>
      <td>
        <button *ngIf="saveTo != 0" class="float-right btn btn-light" (click)="this.tryAddRecipe(recipe, this.saveTo)">
          Save
        </button>
      </td>
      <td class="text-light">
          <a class="m-3" routerLink="/recipe-details" routerLinkActive="active" (click)="this.data.setChoosenRecipeId(recipe.id)">View Details</a>
        </td>
        <hr/>
    </tr>
  </tbody>
</table>
