<div class="jumbotron col-xl-12 d-flex">
    
    
    <div class="col-xl-6 m-1">
      <h2 >Filter alergens</h2>
      <!-- <button class="btn" [ngClass]="{'btn-danger' : gluten, 'btn-success' : !gluten}" (click)="toggleGlutenFree()">Gluten</button>
      <button class="btn" [ngClass]="{'btn-danger' : soy, 'btn-success' : !soy}" (click)="toggleSoyFree()">Soy</button>
      <button class="btn" [ngClass]="{'btn-danger' : peanut, 'btn-success' : !peanut}" (click)="togglePeanutFree()">Peanuts</button> -->
      <button class="btn" [ngClass]="{'btn-danger' : gluten, 'btn-success' : !gluten}" (click)="toggleAlergenFilter('gluten')">Gluten</button>
      <button class="btn" [ngClass]="{'btn-danger' : soy, 'btn-success' : !soy}" (click)="toggleAlergenFilter('soy')">Soy</button>
      <button class="btn" [ngClass]="{'btn-danger' : peanut, 'btn-success' : !peanut}" (click)="toggleAlergenFilter('peanut')">Peanuts</button>
    </div>
    
    <div class="col-xl-6">
      <h2>Filter mealtypes</h2>
      <button class="btn"
        [ngClass]="{'btn-primary' : mealType !== 'breakfast', 'btn-dark' : mealType == 'breakfast'}" 
        (click)="toggleMealType('breakfast')"
        >Breakfast
      </button>
      <button class="btn"
        [ngClass]="{'btn-primary' : mealType !== 'main+course', 'btn-dark' : mealType == 'main+course'}" 
        (click)="toggleMealType('main+course')"
        >Main course
      </button>
      <button class="btn"
        [ngClass]="{'btn-primary' : mealType !== 'dessert', 'btn-dark' : mealType == 'dessert'}" 
        (click)="toggleMealType('dessert')"
        >Dessert
      </button>
      <button class="btn"
        [ngClass]="{'btn-primary' : mealType !== 'all', 'btn-dark' : mealType == 'all'}" 
        (click)="toggleMealType('all')"
        >All meals
      </button>
    </div>
  </div>
  <table class="col-xl-12">
    <thead>
      <tr>
        <th><b>Dish name</b></th>
        <th><b>Learn more</b></th>
        
      </tr>
    </thead>
  <tbody class="">
    
    <tr *ngFor="let recipe of recipes.results">
      <td>{{ recipe.title }} <button class="float-right" (click)="this.data.addSavedRecipe(recipe)">Save</button></td>
      <td>
          <a routerLink="/recipe-details" routerLinkActive="active" (click)="this.data.setChoosenRecipeId(recipe.id)">View Details</a>
        </td>
    </tr>
  </tbody>
</table>
