<p>recipe-finder works!</p>
<div class="jumbotron align-items-center">
    <ul>
      <button class="btn" [ngClass]="{'btn-danger' : gluten, 'btn-success' : !gluten}" (click)="toggleGlutenFree()">Gluten</button>
      <button class="btn" [ngClass]="{'btn-danger' : soy, 'btn-success' : !soy}" (click)="toggleSoyFree()">Soy</button>
      <button class="btn" [ngClass]="{'btn-danger' : peanut, 'btn-success' : !peanut}" (click)="togglePeanutFree()">Peanuts</button>
    </ul>
    <ul class="row">
      <button class="btn"
        [ngClass]="{'btn-primary' : mealType !== 'breakfast', 'btn-dark' : mealType == 'breakfast'}" 
        (click)="toggleMealType('breakfast')"
        >Breakfast
      </button>
      <button class="btn"
        [ngClass]="{'btn-primary' : mealType !== 'main+course', 'btn-dark' : mealType == 'main+course'}" 
        (click)="toggleMealType('main+course')"
        >Main course
      </button>
      <button class="btn"
        [ngClass]="{'btn-primary' : mealType !== 'dessert', 'btn-dark' : mealType == 'dessert'}" 
        (click)="toggleMealType('dessert')"
        >Dessert
      </button>
      <button class="btn"
        [ngClass]="{'btn-primary' : mealType !== 'all', 'btn-dark' : mealType == 'all'}" 
        (click)="toggleMealType('all')"
        >All meals
      </button>
    </ul>
  </div>
  <tbody>
    <!-- <input type='checkbox' ng-init='glutenFree=false' ng-model='glutenFree' ng-click='glutenFree()'> -->
    
    <tr>
      <td>test</td>
      <td>test2</td>
      
    </tr>
    <tr *ngFor="let recipe of recipes.results">
      <td>{{ recipe.title }} <button (click)="this.data.addSavedRecipe(recipe)">Save</button></td>
      <td>
          <a routerLink="/recipe-details" routerLinkActive="active" (click)="this.data.setChoosenRecipeId(recipe.id)">View Details</a>
        </td>
      
    </tr>
    
  </tbody>
