<form class="text-white" 
[formGroup]="form" 
(ngSubmit)="tryCreate()"
name="form">
<h2>create new list:</h2>
<div class="form-outline mb-4">
    <label class="form-label" for="name">Name of list</label>
    <input type="email" formControlName="name" class="form-control" [(ngModel)]="form.name" />
    
    <button (click)="tryCreate()" type="button" class="btn btn-primary mb-3">Create list</button>
  
  </div>
</form>

<ul *ngFor="let recipeList of savedRecipes">
    <li class="card col-xl-12 centersetText">
        <div class="d-flex flex-row justify-content-around card-header">
            <p><b>{{recipeList.name}}</b></p> 
            <button class="btn btn-danger" (click)="tryDelete(recipeList.id)">Delete list</button>    
        </div>
        <div class="card-body">
        <div *ngFor="let recipe of recipeList.recipes" class="col-xl-12 border-bottom d-flex justify-content-between">
            <span>{{recipe.title}}</span>
            <a class="m-3" routerLink="/recipe-details" routerLinkActive="active" (click)="this.data.setChoosenRecipeId(recipe.id)">View Details</a>
            <button class="btn btn-danger" (click)="unSaveRecipe(recipe, recipeList.id)">remove</button>
        </div>
    </div>
    </li>
</ul>
